[submodule "dictionaries"]
	path = dictionaries
	url = ../dictionaries
	branch = .
    shallow = true
[submodule "helpcontent2"]
	path = helpcontent2
	url = ../help
	branch = .
[submodule "translations"]
	path = translations
	url = ../translations
	branch = .
    shallow = true
